.Hero-img {
  width: 90vw;
  height: 50vh;
  margin-top: 20px;
  padding-bottom: 50px ;
  border-bottom: 2px solid black;
  object-fit: cover;
}

.textover{
  /* max-width: 600px; */
  position: relative;
}

.textover figcaption {
  position: absolute;
  /* VERTICAL CENTER */
  top: 40%;
  left: 0;
  /* HORIZONTAL CENTER */
  width: 100%;
  text-align: center;
  /* COSMETICS */
  color: white;
  font-size: 30px;
  font-weight: 700;
}