.Hero-img {
  width: 90vw;
  height: 50vh;
  margin-top: 20px;
  padding-bottom: 70px ;
  border-bottom: 2px solid black;
  object-fit: cover;
}
.parent{
  position: relative;
}


.top-part{
  background-color: black;
  position: absolute;
  top: 250px;
  left: 190px;
  padding: 150px;
}

.bottom-part{

}

